.videoHeader {
  display: flex;
  align-items: center;
  margin: 5px 0 5px 0;
}

.cameraHeader {
  margin: 5px 0px 4px 0px;
}

.videosContianer {
  display: flex;
  flex-direction: column;
}

.videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.videoElement {
  width: 50%;
  height: auto;
  flex: 1;
  object-fit: cover;
}

.canvasElement {
  width: 50%;
  height: auto;
  flex: 1;
}

.alerts {
  display: flex;
  flex-direction: column;
  margin: 4px;
}

.videoSelect {
  font-size: 15px;
  margin-left: 15px;
  height: 100%;
  color: #e1c6be;
  background-color: #2b2b2b;
}
